<!DOCTYPE html>
<html>
<head>
<title>Card</title>
<link href="css1/mainStyle.css" type="text/css" rel="stylesheet" />
<link href="css1/cardStyle.css" type="text/css" rel="stylesheet" />
<style>
	#preview {
		display: none;
	}
	#add {
		display: none;
	}
</style>
<script src = "js/tabs.js"></script>

</head>

<body>

	<div id="allContent">
	
	
		<div id="top">
			<input type="button" value="Пошук" id="searchButton"/>
			<input type="button" value="Додати" id="addButton"/>
			<h3>Створення картки нового працівника</h3>
			<span id="userName">inspectorName</span>
			<input type="button" value="Вийти" id="exitButton" />
		</div>
		
		<div id="content">

			<div id="add">

			<div id="navigation" class="tabbed_area">
			<ul class="tabs">
				<li><a href="#" id="tab_1" class="active">Персональна інформація</a></li>
				<li><a href="#" id="tab_2" class="">Освіта</a></li>
				<li><a href="#" id="tab_3" class="">Досвід роботи</a></li>
				<li><a href="#" id="tab_4" class="">Сімейний стан</a></li>
				<li><a href="#" id="tab_5" class="">Місце проживання</a></li>
			</ul>
		</div>



		
				<!--Personal Info-->
				<div id="content_1" class="content" style="display: block;"> 
					<div id="leftPart">
						Прізвище <br>
						<input type="text" size="40" id="lastName" class="fields"><br>
						Ім’я <br>
						<input type="text" size="40" id="name" class="fields"><br>
						По-батькові <br>
						<input type="text" size="40" id="middleName" class="fields"><br>
						<p></p>
						Стать: <br>
						<input type="radio" name="sex" value="1" id="male" class="fields">чоловіча
                        <input type="radio" name="sex" value="2" id="female" class="fields">жіноча<br>
						<p></p>
						Військовозабов’язаний <br>
						<input type="radio" name="army" value="1" id="yesArmy" class="fields">так
                        <input type="radio" name="army" value="2" id="noArmy" class="fields">ні<br>
					</div>
			
					<div id="rightPart">
						Дата народження <br>
						<input type="text" size="2" id="dateBirth" class="fields">
							<select name="select" id="monthBirth" class="fields">
								<option id="1">Січень</option>
								<option id="2">Лютий</option>
								<option id="3">Березень</option>
								<option id="4">Квітень</option>
								<option id="5">Травень</option>
								<option id="6">Червень</option>
								<option id="7">Липень</option>
								<option id="8">Серпень</option>
								<option id="9">Вересень</option>
								<option id="10">Жовтень</option>
								<option id="11">Листопад</option>
								<option id="12">Грудень</option>
							</select>
						<input type="text" size="4" id="yearBirth" class="fields"><br>
						Табельний номер <br>
						<input type="text" size="40" id="tabNumber" class="fields"><br>
						Індивідуальний номер <br>
						<input type="text" size="40" id="persNumber" class="fields"><br>
						Паспортні дані <br>
						<input type="text" size="40" id="passport" class="fields"><br>
						Громадянство <br>
						<input type="text" size="40" id="nation" class="fields"><br>
					</div>
			</div>
			<!--End Personal Info-->
		
		
<!--Education-->
	   <div id="content_2" class="content" style="display: none;">	
       
       <div id="education2">  
             	<div><span>Назва освiтнього закладу</span><span>Диплом, свiдоцтво(номер)</span><span>Рiк закiнчення</span></div>
              <div id="form1">
              	
              	<div class="education0">
              		<input class="educationalInstitutionName" value="">
              		<input class="diplomaSerialNumber" value="">
              		<input class="endYear" value="">
              		<button>delete</button>
              	</div>
              </div>
              <div><span>Спецiальнiсть</span><span>Квалiфiкацiя</span><span>Форма навчання</span></div>
              <div id="form2">
              	
              	<div class="education0">
              		<input class="profession" value="">
              		<input class="qualification" value="">
              		<input class="learningForm" value="">
              	</div>
              </div>
              <button id="edu_addField">ADD</button>
    </div> <!--  end of #education2 -->

    

       
         <div id="check">
		 <p>Післядипломна професійна полготовка: навчання в:</p>
		   <label><input id="graduate" type="checkbox" class="fields">Аспірантура</label><br>
		   <label><input id="adjuncture" type="checkbox" class="fields">Ад’юконтура</label><br>
		   <label><input id="doctor" type="checkbox" class="fields">Докторонтура</label><br>
		</div>	   
          <table id="pgeducation_table">
           <tbody><tr>
             <th> Назва освітнього, наукового закладку </th>
             <th> Рік закінчення</th>
             <th> Науковий ступінь, учене знання </th> 
             <th></th>
           </tr>
  
           </tbody><tbody id="table_body2"> 
             
           
           
            <!-- Здесь будет динамически формироваться контент -->
           <tr><td><input type="text" id="pgeducation_name" value=""></td><td><input type="text" id="pgeducation_year" value=""></td><td><input type="text" id="pgeducation_degree" value=""></td><td></td></tr></tbody><tbody> 
         </tbody></table>
 
  
             
             
         <div id="add_button2"> 
          <button id="add_pgeducation"> + </button> 
        </div>   
      </div>
<!--End Education-->
		
		
<!--Experience-->
			<div id="content_3" class="content" style="display: none;"> 
				<div id="exp">
					<div id="expData">
						Останнє місце роботи<br>
						<input type="text" size="90" id="lastWork" class="fields"><br>
						Посада <br>
						<input type="text" size="90" id="profWork" class="fields"><br>
						Дата, причина звільнення<br>
						<input type="text" size="90" id="reasonLast" class="fields"><br>
						Дані стосовно отримання пенсії<br>
						<input type="text" size="90" id="pension" class="fields"><br>
					</div>
				</div>
			</div>
<!--End Experience-->
		
		
<!--Family-->
			<div id="content_4" class="content" style="display: none;">
                
              <table id="family_table">
                <tbody><tr>
                  <th> Cклад сім'ї </th>
                  <th> П.І.Б. </th>
                  <th> Рік народження </th> 
                  <th></th>
                </tr>
      
               </tbody><tbody id="table_body">               
                 <!-- Здесь будет динамически формироваться контент -->          
               <tr><td><input type="text" id="family_status" value=""></td><td><input type="text" id="family_fio" value=""></td><td><input type="text" id="family_year" value=""></td><td></td></tr></tbody><tbody>   
             </tbody></table>
     
            <div id="add_button"> 
              <button id="add_family"> + </button> 
            </div>
            
          </div>
<!--End family-->
		
		
			<!--Habitation-->
			<div id="content_5" class="content" style="display: none;">
				<div id="homeData">
					<p>Адреса фактичного місця проживання</p>
					<p id="detail">(область, місто, район, вулиця, № будинку, № квартири, номер контактного телефону, індекс)</p>
                    <textarea type="text" cols="85" rows="5" id="residence address" class="fields"></textarea><br>
					<p>Адреса прописки</p>
                    <textarea type="text" cols="85" rows="5" id="address registration" class="fields"></textarea>
				</div>
			</div>
			<!--End habitation-->
		
		


<div id="bottom">
			<input type="button" value="Переглянути" id="previewButton">
			<input type="button" value="Зберегти" id="saveButton">
		</div>
		</div><!-- END OF ADD PAGE -->













<!-- START PREVIEW PAGE -->

<div id="preview">

<div id="allContent1">

<header>
	<h3>Міністерство не дуже важкої промисловості</h3>
	<p class="head">Типова форма</p>
	<p class="head">Затверджено наказом Держкомстату та міністерства оборони</p>
	<p class="head">України від 25.12.2009 р.</p>
</header>


<table border="1" id="mainTable">
	<tr>
		<td width="100px" align="center">Дата заповнення</td>
		<td width="100px" align="center">Табельний номер</td>
		<td width="200px" align="center">Індивідуальний ідентифікаційний номер</td>
		<td width="100px" align="center">Стать (чоловіча, жіноча)</td>
	</tr>
	<tr>
		<td height="20px"></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>


<div id="photo">
фото
</div>

<div id="data" class="block">
<p class="nameCard">Особова картка працівника</p>
<p class="allData">I. Загальні відомості</p>

        <div id="preview_card1"></div>




<!-- BLOCK PREVIEW EDUCATION -->
        <div id="preview_education1"></div>
        <div id="preview_education2"></div><br />
</div>
<div>5. Післядипломна професійна підготовка: навчання в
		<input class="checkStudy" type="checkbox" />аспірантурі<input class="checkStudy" type="checkbox" />ад&rsquo;юконтурі<input class="checkStudy" type="checkbox" />докторонтурі<br />
		необхідне відмітити (х)
		


<!-- BLOCK PREVIEW POSTGRADUATE -->
		<div id="preview_postgraduate"></div><br />
</div>

        <div id="preview_card2" class="block"></div>


<!-- BLOCK PREVIEW FAMILY -->
        <div id="preview_family"></div><br />

        <div id="preview_card3" class="block"></div>
</div>






</div>


	<script id="card1Template" type="text/x-handlebars-template">
		 <div>1. Прізвище<span>  {{ anketa.lastName }}  </span>Ім&rsquo;я<span>  {{ anketa.firstName }}  </span>По-батькові<span>  {{anketa.middleName}}  </span></div>
		<div>2. Дата народження  &laquo;{{anketa.dateBirth}}&raquo;  {{anketa.monthBirth}}  {{anketa.yearBirth}} р.    <span id="nation">3. Громадянство  
        {{anketa.citizenship}} </span></div>
		<div>4. Освіта !!!базова!!! <!-- (базова загальна середня, повна загальна середня, професійно-технічна, неповна вища, базова вища, повна вища) --><br />
    </script>


	<script id="card2Template" type="text/x-handlebars-template">
		<div>6. Останнє місце роботи  {{anketa.latestJob}}
		</div>

		<div>7. Посада (професія)  {{anketa.profession}}</div>

		<div>8. Дата та причина звільнення: 
        {{ anketa.dateReasonDismissal }}</div>

		<div>9. Відомості про отримання пенсії {{anketa.pensionInfo}}</div>

		<div>10. Родинний стан {{anketa.familyStatus}}
	</script>

	<script id="card3Template" type="text/x-handlebars-template">
		<div>
		11. Місце фактичного проживання: 
        {{anketa.actualPlace}}
		</div>

		<div>
		12. Місце проживання за державною реєстрацією: {{anketa.registrationPlace}}
		</div>

		<div>
		Паспорт: серія {{anketa.serial}} № {{anketa.number}}, ким виданий  {{anketa.givenBy}} , дата видачі {{anketa.passportDate}}
		</div>
		<div>
		<span id="military">II. Відомості про військовий облік </span>{{anketa.army}}
		</div>
	 </script>

    <script id="education1Template" type="text/x-handlebars-template">
        <table border="1" id="education1" class="tables">
            
            <thead>
                <tr>
                    <th>Назва освітнього закладу</th>
                    <th>Диплом (свідоцтво), серія, номер</th>
                    <th>Рік закінчення</th>
                </tr>
            </thead>
            <tbody>
                {{#education}}   
                 {{#each .}}           
                <tr>
                 
                 <tr>
               
                    <td>{{educationalInstitutionName}}</td>
                    <td>{{diplomaSerialNumber}}</td>
                    <td>{{endYear}}</td> 
                    
  
                </tr>
                {{/each}}   
                {{/education}}   
            </tbody>
                </table>
    </script>

    <script id="education2Template" type="text/x-handlebars-template">
        <table border="1" id="education2" class="tables">
       <thead>
                <tr>
                    <th>Спеціальність (професія) за дипломом (свідоцтвом)</th>
                    <th>Кваліфікація за дипломом (свідоцтвом)   </th>
                    <th>Форма навчання (денна, вечірня, заочна)</th>
                </tr>
            </thead>
            <tbody>
                {{#education}}   
                 {{#each .}}           
                <tr>
                 
                 <tr>
               
                 
                    <td>{{profession}}</td> 
                    <td>{{qualification}}</td> 
                    <td>{{learningForm}}</td> 
  
                </tr>
                {{/each}}   
                {{/education}}   
            </tbody>
   </table>
    </script>

    <script id="postgraduateTemplate" type="text/x-handlebars-template">
        <table border="1" id="family" class="tables">
            
            <thead>
                <tr>
                    <th>Назва освітнього, наукового закладу</th>
                    <th>Рік закінчення</th>
                    <th>Науковий ступінь, учене звання</th>
                </tr>
            </thead>
            <tbody>
                {{#postgraduate}}   
                 {{#each .}}           
                <tr>
                 
                 <tr>
               
                    <td>{{[0]}}</td>
                    <td>{{[1]}}</td>
                    <td>{{[2]}}</td> 
                    
  
                </tr>
                {{/each}}   
                {{/postgraduate}}   
            </tbody>
           
           
        </table>
    </script>

     <script id="familyTemplate" type="text/x-handlebars-template">
        <table border="1" id="family" class="tables">
            
            <thead>
                <tr>
                    <th>Ступінь родинного зв’язку (склад сім’ї) </th>
                    <th>П. І. Б.</th>
                    <th>Рік народження</th>
                </tr>
            </thead>
            <tbody>
                {{#family}}   
                 {{#each .}}           
                <tr>
                 
                 <tr>
               
                    <td>{{[0]}}</td>
                    <td>{{[1]}}</td>
                    <td>{{[2]}}</td> 
                    
  
                </tr>
                {{/each}}   
                {{/family}}   
            </tbody>
        </table>
    </script>

</div>











		<footer>
			&copy; All rights reserved, Troy Team, 2013
		</footer>
		
	
</div> 
	

	
</body>
</html>