@import 'family.css';
@import 'pgeducation.css';
@import 'education2.css';

body{
	font-family:sans-serif;
	background-color:#F8F8FF;
}

#allContent{
	width:1100px;
	position:absolute;
	top:10px;
	left:50%;
	margin:0 0 0 -550px;
	border:2px solid black;
	background-color:#CDC9A5;
}

#content_2, #content_3, #content_4, #content_5 {
  display:none; 
}

h3{
	display:inline;
	margin-left:180px;
}

#top{
	border-bottom:2px solid black;
	height:50px;
	padding-top:20px;
}

#searchButton{
	margin-left:20px;
}

#userName{
	border:1px dotted gray;
	margin-left:130px;
	font-weight:bold;
	color:blue;
}

#exitButton{
	float:right;
	margin-right:20px;
}

#navigation{
	width:1000px;
	height:50px;
	border:2px solid black;
	margin: 10px 0 0 50px;
	background-color:#9ACD32;
}

#navigation ul{
	margin:0 0 0 30px;
	padding:0;
}

#navigation ul li{
	list-style-type:none;
	width:188px;
	float:left;
	height:50px;
}

#navigation ul li a{
	text-decoration:none;
	font-size:11pt;
	display:block;
	text-align:center;
	height:50px;
	margin-top:15px;
}


#navigation ul li:hover{
	background-color:#FFF8DC;
	border-radius:10px;
}


/*ALL CONTENT DIV*/
#content{
	width:1000px;
	min-height:450px;
	border:2px solid black;
	margin:10px 0 0 50px;
	background-color:#FFFACD;
}
/*personal info*/
#data{
	width:960px;
	min-height:400px;
	border:2px solid black;
	margin:10px 0 0 20px;
}

#leftPart{
	width:350px;
	height:300px;
	margin: 25px 50px 10px 50px;
	line-height:1.7;
	float:left;
}

#female{
	margin-left:15px;
}

#rightPart{
	width:350px;
	margin: 25px 50px 10px 90px;
	line-height:2;
	height:300px;
	float:left;
}

#noArmy{
	margin-left:57px;
}
/*end personal info*/



/*education*/
#content_2{
	margin:10px;
}

#universityTab{
	border:1px solid black;
	border-radius:10px;
	margin:10px;
}

#addUniversity, #addSpeciality{
	margin-left:10px;
	margin-bottom:10px;
}

#specialityTab{
	border:1px solid black;
	border-radius:10px;
	margin:10px;
}

#removeEduButton, #removeSpecButton{
	margin-left:5px;
}

#check{
	margin-top:20px;
	margin-left:15px;
	line-height:2;
}

#formStudy{
	width:120px;
}

/*end education*/



/*Experience*/
#exp{
	width:760px;
	height:300px;
	margin:30px 0 0 100px;
	line-height:1.6;
}
#expData{
	margin-left:100px;
	line-height:2.5;
}
/*end Experience*/


/*family*/
/*#content_4{
	border:1px solid black;
	border-radius:10px;
	margin:10px;
}
#content_4 table, #addFamily{
	margin-left:50px;
}
#addFamily{
	margin-left:60px;
}*/
/*end family*/



/*habitation*/

#homeData{
	margin:40px 0 0 20px;
}

#detail{
	margin-left:20px;
}

/*end habitation*/
/*END ALL CONTENT DIV*/



#bottom{
	width:1000px;
	border:2px solid black;
	padding:5px 0 5px 0;
	margin:10px 0 0 50px;
	background-color:#9ACD32;
}

#previewButton{
	margin-left:20px;
}

#saveButton{
	float:right;
	margin-right:20px;
}

footer{
	margin:20px 0 20px 0;
	font-size:10pt;
}